

pre { white-space: pre-wrap; font-family: monospace; color: #000000; background-color: #ffffff; }
body { font-family: monospace; color: #000000; background-color: #ffffff; }
* { font-size: 1em; }
.Identifier { color: #804000;  }
.Statement { color: #008080;  }
.Comment { color: #c00000;  }
.Constant { color: #0000c0;  }
.Special { color: #c000c0;  }

