

pre { white-space: pre-wrap; font-family: monospace; color: #000000; background-color: #ffffff; }
body { font-family: monospace; color: #000000; background-color: #ffffff; }
* { font-size: 1em; }
.Constant { color: #0000c0;  }
.Identifier { color: #804000;  }
.Statement { color: #008080; font-weight: bold; }
.Comment { color: #c00000; font-weight: bold; }
.Type { color: #008000;  }
.Special { color: #c000c0; font-weight: bold; }

