

pre { white-space: pre-wrap; font-family: monospace; color: #000000; background-color: #ffffff; }
body { font-family: monospace; color: #000000; background-color: #ffffff; }
* { font-size: 1em; }
.Constant { color: #0000c0;  }
.Identifier { color: #804000;  }
.Statement { color: #008080;  }
.Comment { color: #c00000;  }
.Type { color: #008000;  }
.Special { color: #c000c0;  }

html, body {
  font-family: 'Roboto Mono', monospace;
  margin: 0;
  padding: 0;
}
#everything {
  display: block;
  margin: 0 auto;
  margin-top: 14px;
}
#nav {
  padding: 25px;
  /*width: 15%;
  float: left;*/
}
#content {
  /*float: right;*/
  padding: 25px;
  /*width: 75%;*/
}
@media (min-width: 1012px) {
  #everything {
    font-size: 14px;
    max-width: 1200px;
    min-width: 520px;
  }
  #nav {
    width: 15%;
    float: left;
  }
  #content {
    border-left: 1px solid #666;
    width: 75%;
    float: right;
  }
}
@media (max-width: 1011px) {
  #everything {
    font-size: 1.3em;
    width: 100%;
  }
  #nav {
    text-align: center;
    font-size: 1.3em;
    border-bottom: 2px solid #666;
    float: none;
  }
  #nav ul {
    padding-left: 0;
  }
  #content {
    border: none;
    float: none;
  }
  #content pre {
    font-size: 1em;
    display: block;
    margin: 0 auto;
  }
}
a {
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#nav ul {
  list-style-type: none;
}
#nav li {
  padding: 5px;
}
pre {
  padding-left: 10px;
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
  font-size: 13px;
}
.Comment { color: #888; font-weight: normal; }
#title {
  text-align: center;
  font-size: 24px;
}
#title a {
  color: black;
}
p {
  line-height: 2;
}
